.wrapper{
    margin: 1em 1.2em;
}

.btn-a{
    @include btn-main;
    &:hover{
        @include btn-main-hover()
    }
}

.background{
    width: 100%;
    height: 627px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: $third;
    z-index: -1;
}

.headings{
    margin-top: 40px;
    .label{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
    }
    h2{
        font-size: 1.3em;;
    }
    .sub-head{
        color: $primary;
    }
}

// mobile

// hero section start
#hero-section{
    .wrapper{
        .content{
            .icon{
                display: flex;
                width: 100%;
                margin: 20px 0;
                a{
                    width: 30px;
                    margin: 0;
                    svg{
                        width: 100%;
                        height: 30px;
                        text-align: center;
                    }
                }
            }
        }
    }
    p{
        font-size: 14px;
        color: $text;
        margin: 16px 0;
        font-weight: 500;
    }
    .btn-a{
        font-size: 13px;
        margin-right: 8px;
    }
    .campus-profil{
        font-size: 14px;
        color: $text;
        font-weight: 500;
    }
    img{
        margin-top: 20px;
        width: 100%;
    }
}
// hero section end

// waktu pendaftaran start
.box{
    background-color: $third;
    border: 2px solid $primary;
    margin-top: 20px;

    h3{
        font-size: 16px;
        margin: 12px 20px;
    }
    .rectangle{
        width: 40px;
        height: 2px;
        background-color: $primary;
        margin: -10px 0 0 20px;
        border-radius: 2px;
    }

    .item{
        margin: 20px 0;
        p{
            font-size: 12px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 6px;
    
            span{
                margin-right: 12px;
                color: $primary;
            }
            .diff{
                color: $third;
            }
        }
        .flex{
            display: flex;
            justify-content: space-between;
            p:nth-child(2){
                width: 50px;
            }
        }
    }
}

.box-third{
    p:nth-child(even) {
        margin-left: 34px;
      }
}
// waktu pendaftaran end
#waktu-pendaftaran{
    .wrapper{
        .headings{
            padding-top: 40px;
        }
        .alur-mobile{
            img{
                width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        .alur-desktop{
            display: none;
        }
    }
}

// panduan start
iframe{
    margin: 20px 0 40px 0;
    width: 100%;
}
// panduan end

// whatsapp start
#whatsapp{
    background-color: $primary;
    padding: 20px 0;
    .wrapper{
        .text-wa{
            color: $third;
            font-weight: 500;
        }
        .btn-white{
            @include btn-main();
            background-color: $third;
            margin-top: 20px;
            a{
                color: $primary;
                font-size: 1.2rem;
                font-weight: 600;
                text-decoration: none;
                display: flex;
                gap: 2px;
                align-items: center;
            }
        }
    }
}
// whatsapp end
// mobile


// tablet
@media only screen and (min-width: 920px){
    header{
        margin-top: 40px;
    }
    .menu{
        display: none;
    }
    header{
        nav{
            .nav-text{
                li{
                    ul{
                        li{
                            a{
                                color: $text;
                            }
                        }
                    }
                    a{
                        color: $text;
                        svg{
                            path{
                                fill: $text;
                            }
                        }
                    }
                }
            }
        }
    }
    nav{
        transform: translateX(0);
        position: unset;
        width: auto;
        height: auto;
        display: block;
        background: none;
        .close{
            display: none;
        }

        ul{
            display: flex;
            margin: 0;
            .btn-b{
                margin: 0;
            }
            a{
                padding: .5em 1.5em;
                font-size: .85rem;
                text-decoration: none;
                &:hover{
                    background: none;
                }
            }
            li{
                .menu-dropdown{
                    display: none;                  
                }
                &:hover{
                    .menu-dropdown{
                        display: block;
                        background-color: $white;
                        position: absolute;
                        top: 30px;
                        left: 100px;
                        z-index: 999;
                        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
                        li{
                            &:hover{
                                background-color: $gray;
                            }
                        }
                    }
                }
            }
        }
    }
    .background{
        position: absolute;
        z-index: -1;
        width: 586px;
        height: 478px;
        left: 770px;
        background-color: $third;
    }
    #hero-section{
        .wrapper{
            display: flex;
            align-items: center;
            gap: 100px;
            .content{
                .headings{
                    h2{
                        font-size: 28px;
                    }
                }
                p{
                    font-size: 16px;
                    margin: 22px 0 30px 0;
                }
                a{
                    font-size: 14px;
                    margin-right: 20px;
                }
                .icon{
                    margin-top: 20px;
                    svg{
                        width: 160px;
                        height: 40px;
                    }
                }
            }
            img{
                width: 450px;
            }
        }
    }

    #waktu-pendaftaran{
        .wrapper{
            margin-top: 70px;
            .headings{
                margin-bottom: 20px;
            }
            .flex{
                display: block;
                justify-content: space-between;
                align-items: center;
                .box{
                    width: 32%;
                    margin: 0;
                }
                .alur-mobile{
                    display: none;
                }
                .alur-desktop{
                    display: block;
                    img{
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }

    #panduan{
        .wrapper{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 40px;
            flex-direction: row-reverse;
            iframe{
                height: 260px;
                width: 460px;
            }
            .headings{
                margin-top: 0;
                h2:nth-child(3){
                    width: 400px;
                }
            }
        }
    }

    #whatsapp{
        .wrapper{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 40px 80px;
            .headings{
                margin-top: 0;
            }
            .btn-white{
                margin-top: 0;
            }
        }
    }

    footer{
        .wrapper{
            .link{
                display: flex;
                justify-content: space-between;
                .col-one{
                    .footer-head{
                        h3{
                            font-size: 16px;
                        }
                    }
                    .footer-desc{
                        p{
                            font-size: 14px;
                        }
                    }
                    .wa{
                        a{
                            font-size: 14px;
                            svg{
                                width: 20px;
                            }
                        }
                    }
                }
                .col-two{
                    h3{
                        font-size: 16px;
                    }
                    ul{
                        li{
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                    .icon{
                        .wa{
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.open-nav{
    transform: translate(0);
}
// tablet

// desktop
@media only screen and (min-width: 1200px){
    .wrapper{
        width: 940px;
        margin: 0 auto;
    }
}
// desktop

@media only screen and (min-width: 1300px){
    .wrapper{
        width: 940px;
        margin: 0 auto;
    }
    .background{
        position: absolute;
        z-index: -1;
        width: 586px;
        height: 478px;
        left: 700px;
        background-color: $third;
    }
}



  
