#detail-pembayaran{
    .wrapper{
        .content{
            border: 2px solid $primary;
            padding: 10px 20px;
            margin: 20px auto;
            min-width: 300px;
            .logo-d{
                img{
                    width: 80px;
                    display: block;
                    margin: 0 auto;
                }
                p{
                    text-align: center;
                    font-weight: 500;
                    font-size: 18px;
                    text-transform: uppercase;
                    margin: 10px 0 30px;
                }
            }
            p{
                font-size: 14px;
            }
            p:nth-child(2){
                font-weight: 600;
            }
            .rincian{
                margin-bottom: 20px;
                .bold{
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                .flex{
                    display: flex;
                    justify-content: space-between;
                }
                hr{
                    margin: 20px 0;
                }
            }
            button{
                border: none;
                background-color: $primary;
                padding: 10px 20px;
                width: 100%;
                border-radius: 20px;
                margin: 20px 0;
                a{
                    text-decoration: none;
                    color: $third;
                }
            }
        }
    }
}

#modal-section{
    .wrapper{
        .modal-1 {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            .modal-content {
                border-radius: 10px;
                background-color: #fefefe;
                margin: 10% auto; /* 15% from the top and centered */
                padding: 20px;
                border: 1px solid #888;
                width: 90%; /* Could be more or less, depending on screen size */
                max-width: 360px;
                .header-modal{
                    display: flex;
                    align-items: center;
                    .tutup {
                        font-weight: bold;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        svg{
                            &:hover, &:focus{
                                cursor: pointer;
                                path{
                                    stroke: $text;
                                }
                            }
                        }
                    }
                    p{
                        font-weight: 600;
                    }
                }
                form{
                    padding: 14px 10px;
                    .transfer-bank{
                        h3{
                            font-size: 14px;
                            margin: 10px 0;
                        }
                        .flex{
                            display: flex;
                            flex-wrap: wrap;
                            padding: 0;
                            gap: 8px;
                            margin-bottom: 20px;
                            label{
                                width: 80px;
                                padding: 8px 4px;
                                margin-top: 0;
                                border: 2px solid $gray;
                                border-radius: 6px;
                                background-color: white;
                                input{
                                    display: none;
                                }
                                img{
                                    height: 18px;
                                    display: block;
                                    margin: 0 auto;
                                }
                                &:hover{
                                    border: 2px solid $primary;
                                }
                            }
                        }
                    }
                }
                button{
                    width: 100%;
                    padding: 8px 0;
                    background-color: $primary;
                    border: none;
                    border-radius: 20px;
                    display: block;
                    margin: 20px auto;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        font-weight: 500;
                        color: $third;
                        font-size: 16px;
                    }
                }
            }
        }
        .modal-2 {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            .modal-content {
                border-radius: 10px;
                background-color: #fefefe;
                margin: 10% auto; /* 15% from the top and centered */
                padding: 20px;
                border: 1px solid #888;
                width: 90%; /* Could be more or less, depending on screen size */
                max-width: 360px;
                .header-modal{
                    display: flex;
                    align-items: center;
                    .kembali {
                        font-weight: bold;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        svg{
                            &:hover, &:focus{
                                cursor: pointer;
                                path{
                                    stroke: $text;
                                }
                            }
                        }
                    }
                    p{
                        font-weight: 600;
                    }
                }
                .total-tagihan{
                    margin: 30px 0 40px;
                    padding: 0 30px;
                    p{
                        font-weight: 600;
                        font-size: 14px;
                    }
                    p:nth-child(2){
                        font-size: 16px;
                    }
                }
                .pilihan-bank{
                    padding: 0 20px;
                    .flex:nth-child(1){
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p{
                            font-size: 16px;
                            font-weight: 700;
                        }
                        img{
                            border: 2px solid $gray;
                            padding: 6px 10px;
                            border-radius: 8px;
                        }
                    }
                    h3{
                        margin: 20px 0;
                    }
                    .flex{
                        display: flex;
                        gap: 10px;
                        margin-bottom: 10px;
                        p{
                            width: 300px;
                            text-align: justify;
                            font-size: 14px;
                        }
                    }
                }
                button{
                    width: 100%;
                    padding: 8px 0;
                    background-color: $primary;
                    border: none;
                    border-radius: 20px;
                    display: block;
                    margin: 40px auto 20px;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        font-weight: 500;
                        color: $third;
                        font-size: 16px;
                    }
                }
            }
        }
        .modal-3 {
            display: block; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            .modal-content {
                border-radius: 10px;
                background-color: #fefefe;
                margin: 10% auto; /* 15% from the top and centered */
                padding: 20px;
                border: 1px solid #888;
                width: 90%; /* Could be more or less, depending on screen size */
                max-width: 360px;
                .header-modal{
                    display: flex;
                    align-items: center;
                    .kembali-1 {
                        font-weight: bold;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        svg{
                            &:hover, &:focus{
                                cursor: pointer;
                                path{
                                    stroke: $text;
                                }
                            }
                        }
                    }
                    p{
                        font-weight: 600;
                    }
                }
                .waktu-pembayaran{
                    margin: 30px 0 40px;
                    padding: 0 30px;
                    p{
                        font-size: 14px;
                    }
                    p:nth-child(2){
                        font-weight: 800;
                        font-size: 14px;
                    }
                }
                .pilihan-bank{
                    padding: 0 20px;
                    .flex:nth-child(1){
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p{
                            font-size: 16px;
                            font-weight: 700;
                        }
                        img{
                            border: 2px solid $gray;
                            padding: 6px 10px;
                            border-radius: 8px;
                        }
                    }
                }
                .cara-pembayaran{
                    padding: 0 20px;
                    h3{
                        margin: 20px 0;
                        font-size: 16px;
                    }
                    .flex{
                        display: flex;
                        gap: 10px;
                        margin-bottom: 10px;
                        p{
                            width: 300px;
                            text-align: justify;
                            font-size: 14px;
                        }
                    }
                }
                button{
                    width: 100%;
                    padding: 8px 0;
                    background-color: $primary;
                    border: none;
                    border-radius: 20px;
                    display: block;
                    margin: 40px auto 20px;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        font-weight: 500;
                        color: $third;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 920px){
    #detail-pembayaran{
        .wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            .headings{
                display: inline-block;
                margin: 0 auto;
                h3{
                    font-size: 22px;
                }
            }
            .content{
                width: 40%;
            }
        }
    }
    #modal-section{
        .wrapper{
            .modal{
                display: none;
                .modal-content{
                    margin: 2% auto;
                }
            }
        }
    }
}