#detail-pembayaran{
    .wrapper{
        .content{
            border: 2px solid $primary;
            padding: 10px 20px;
            margin: 20px auto;
            min-width: 300px;
            .logo-d{
                img{
                    width: 80px;
                    display: block;
                    margin: 0 auto;
                }
                p{
                    text-align: center;
                    font-weight: 500;
                    font-size: 18px;
                    text-transform: uppercase;
                    margin: 10px 0 20px;
                }
            }
            .alert-belumbayar, .alert-menunggubayar, .alert-sudahbayar{
                display: flex;
                border: 1px solid #084298;
                font-size: 14px;
                align-items: center;
                justify-content: center;
                gap: 14px;
                padding: 12px 16px;
                background-color: #CFE2FF;
                margin-bottom: 20px;
                p{
                    color: #084298;
                    font-weight: 400;
                    text-align: justify;
                    font-size: 13px;
                }
            }
            .menunggu-bayar, .sudah-bayar{
                .rincian{
                    .flex{
                        margin-bottom: 4px;
                        p:nth-child(1){
                            width: 46%;
                        }
                        p:nth-child(2){
                            width: 54%;
                        }
                    }
                    .flex:nth-child(1){
                        margin-bottom: 20px;
                        align-items: center;
                        img{
                            border: 2px solid $gray;
                            padding: 6px 10px;
                            border-radius: 8px;
                        }
                    }
                }
            }
            p{
                font-size: 14px;
            }
            p:nth-child(2){
                font-weight: 600;
            }
            .rincian{
                margin-bottom: 40px;
                .bold{
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                .flex{
                    display: flex;
                    justify-content: space-between;
                }
                hr{
                    margin: 20px 0;
                }
            }
            button{
                border: 1px solid $primary;
                background-color: $primary;
                padding: 10px 20px;
                width: 100%;
                border-radius: 20px;
                margin: 2px 0;
                color: $third;
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: $third;
                }
            }
            .bayar-kampus{
                font-size: 14px;
                text-align: center;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .decoration{
                    height: 1px;
                    width: 100%;
                    border-bottom: 1px solid $text;
                }
                p{
                    margin: 14px 10px;
                    font-weight: 400;
                }
            }
            .bayar-tunai{
                text-align: center;
                font-weight: 600;
            }
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                .modal-content {
                    border-radius: 10px;
                    background-color: #fefefe;
                    margin: 200px auto; /* 15% from the top and centered */
                    padding: 20px;
                    border: 1px solid #888;
                    width: 300px; /* Could be more or less, depending on screen size */
                    .header-modal{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .tutup {
                            font-weight: bold;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            cursor: pointer;
                            svg{
                                path{
                                    &:hover, &:focus{
                                        color: black;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        p{
                            font-weight: 600;
                        }
                    }

                    .text{
                        text-align: center;
                        border-radius: 8px;
                        padding: 4px 0;
                        margin: 18px 12px;
                        border: none;
                        background: none;
                        svg{
                            width: 50px;
                            margin: 8px;
                        }
                        h3{
                            margin: 8px auto;
                        }
                        p{
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }

                    a{
                        font-size: 12px;
                        margin: 4px auto;
                        border: 1px solid $primary;
                    }
                    .transfer-manual{
                        background: none;
                        color: $text;
                        border: 1px solid $text;
                    }
                }
            }
            .modal-1 {
                display: block; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                overflow: hidden;
                .modal-content {
                    border-radius: 10px;
                    background-color: #fefefe;
                    margin: 140px auto; /* 15% from the top and centered */
                    padding: 20px;
                    border: 1px solid #888;
                    width: 300px; /* Could be more or less, depending on screen size */
                    .header-modal{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .tutup {
                            font-weight: bold;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            cursor: pointer;
                            svg{
                                path{
                                    &:hover, &:focus{
                                        color: black;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        p{
                            font-weight: 600;
                        }
                    }

                    .text{
                        text-align: center;
                        border-radius: 8px;
                        padding: 4px 0;
                        margin: 18px 12px;
                        border: none;
                        background: none;
                        svg{
                            width: 50px;
                            margin: 8px;
                        }
                        h3{
                            margin: 8px auto;
                            font-size: 16px;
                        }
                        table{
                            border-collapse: collapse;
                        }
                        hr{
                            border-style: dotted;
                        }
                        table{
                            margin: 20px 0;
                            width: 100%;
                            tr{
                                td{
                                    text-align: left;
                                    font-size: 12px;
                                    font-weight: 500;
                                }
                                td:nth-child(1){
                                    width: 110px;
                                }
                            }
                        }
                        .flex{
                            display: flex;
                            align-items: flex-start;
                            gap: 4px;
                            svg{
                                margin: 0;
                            }
                            p{
                                font-size: 12px;
                                font-weight: 600;
                                text-align: left;
                            }
                        }
                    }

                    a{
                        font-size: 12px;
                        margin: 4px auto;
                    }
                    .transfer-manual{
                        background: none;
                        color: $text;
                        border: 1px solid $text;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 920px){
    #detail-pembayaran{
        .wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            .headings{
                display: inline-block;
                margin: 0 auto;
                h3{
                    font-size: 22px;
                }
            }
            .content{
                width: 40%;
            }
        }
    }
}