.bg-fisika{
    background-image: url(../img/bg-fisika.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
    height: 387px;
    width: 99%;
}

#profil-lulusan{
    .wrapper{
        .analis-olah-data{
            ul{
                margin-left: 20px;
                li{
                    font-size: 14px;
                    text-align: justify;
                }
            }
        }
    }
}
