#masuk{
    .wrapper{
        margin-top: 20px;
        form {
            margin: 0 auto;
            width: 100%;
            height: 380px;
            background-color: white;
            fieldset {
                padding: 2rem 2.5rem;
                border: none;
                box-shadow: 5px 1px 20px rgba(0, 0, 0, 0.1);
                position: absolute;
                width: 90%;
                height: 48%;
                top: 100px;
                background-color: white;
                .logo-b{
                    margin-bottom: 40px;
                    img{
                        width: 80px;
                        display: block;
                        margin: 2px auto;
                    }
                    p{
                        font-size: 20px;
                        text-align: center;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
                label {
                    display: block;
                    margin: 0.5rem 0;
                    font-size: 14px;
                    font-weight: 600;
                    .field{
                        margin: 10px 0 0 0;
                        display: flex;
                        svg{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 3px;
                            border: 1px solid rgba(24, 28, 39, 0.4);
                        }
                        input, textarea{
                            border: none;
                            width: 100%;
                            min-height: 2em;
                            padding: 12px 10px;
                            border: 1px solid rgba(24, 28, 39, 0.4);
                            border-left: none;
                            border-right: none;
                        }
                    }
                }
                .btn-d{
                    margin-top: 1.6em;
                    width: 100%;
                    background-color: $primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 0;
                    text-decoration: none;
                    p{
                        font-size: 14px;
                        font-weight: 400;
                        color: $third;
                    }
                }
                .btn-m{
                    margin-top: .2em;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 0;
                    text-decoration: none;
                    border: 1px solid $text;
                    p{
                        font-size: 14px;
                        font-weight: 400;
                        color: $text;
                    }
                    p:nth-child(2){
                        font-weight: 500;
                        color: $primary;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.motif{
    display: none;
}

.masuk{
    display: none;
}

@media only screen and (min-width: 920px){
    #masuk{
        .wrapper{
            form{
                height: 100%;
                padding: 10px 25%;
                margin-bottom: 20px;
                background: none;
                fieldset{
                    position: static;
                    height: 460px;
                    width: 420px;
                    padding: 3rem 2.5rem;
                }
            }
        }
    }
    .hidden{
        display: none;
        border: 2px solid black ;
    }
    .motif{
        display: block;
        position: absolute;
        z-index: -1;
        width: 1127.9px;
        height: 1112px;
        left: 610px;
        top: -92px;
    }
}