.bg-tkom{
    background-image: url(../img/bg-tkom.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
    height: 387px;
    width: 99%;
}
