.bg-tkom{
    background-image: url(../img/bg-tkom.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
    height: 387px;
    width: 99%;
}

@media only screen and (min-width: 920px){
    .bg-tkom{
        background-image: url(../img/tkom-d.png);
        height: 600px;
        width: 100%;
    }
}
