.wrapper{
    .nav{
        ul{
            li:nth-child(5){
                a{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

#head-ub{
    margin-top: 56px;
    .wrapper{
        .link{
            a{
                text-decoration: none;
                color: $primary;
                font-size: 14px;
                font-weight: 600;
                margin-right: 6px;
                svg{
                    margin-left: 6px;
                }
            }
        }
        .status{
            margin: 20px 0;
            h3{
                font-size: 22px;
                font-weight: 600;
            }
            p{
                background-color: $jingga;
                display: inline-block;
                color: $white;
                padding: 6px 20px;
                text-align: center;
                font-weight: 600;
                margin-top: 8px;
            }
        }
        .nav{
            overflow: scroll;
            ul{
                display: flex;
                position: static;
                li{
                    list-style: none;
                    background-color: $third;
                    padding: 8px 20px;
                    a{
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: center;
                        white-space: nowrap;
                    }
                }
                li:nth-child(4){
                    background-color: $primary;
                    a{
                        color: $third;
                    }
                }
            }
        }
        .nav::-webkit-scrollbar{
            display: none;
        }
    }
}

#input-ub{
    margin: 40px 0;
    .wrapper{
        .heading-ub{
            margin-bottom: 40px;
            h3{
                font-size: 22px;
            }
        }
        .alert-konfirmasi{
            display: flex;
            border: 1px solid #842029;
            font-size: 14px;
            align-items: center;
            justify-content: center;
            gap: 14px;
            padding: 8px 12px;
            background-color: #F8D7DA;
            svg{
                height: 36px;
                width: 36px;
            }
            p{
                color: #842029;
                font-weight: 600;
                text-align: justify;
            }
        }
        .alert-petunjuk{
            margin: 20px 0;
            display: flex;
            border: 1px solid #084298;
            font-size: 14px;
            align-items: center;
            justify-content: center;
            gap: 14px;
            padding: 12px 16px;
            background-color: #CFE2FF;
            ul{
                padding: 0 20px;
                li{
                color: #084298;
                font-weight: 600;
                text-align: justify;
                font-size: 13px;
                margin-bottom: 6px;
                }
            }
        }
        form{
            fieldset{
                border: none;
                .file{
                    margin-bottom: 20px;
                    p{
                        font-size: 18px;
                        font-weight: 600;
                        display: block;
                        margin-bottom: 10px;
                    }
                    label{
                        display: flex;
                        align-items: center;
                        background-color: $gray;
                        height: 40px;
                        gap: 20px;
                        svg{
                            background-color: $primary;
                            width: 44px;
                            height: 100%;
                            padding: 6px;
                        }
                        input{
                            display: none;
                        }
                    }
                }
            }
            .btn-ub{
                float: right;
                @include btn-main();
                &:hover{
                    @include btn-main-hover();
                }
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
        .modal-unggah {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: visible; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            .modal-content {
                border-radius: 10px;
                background-color: #fefefe;
                margin: 180px auto; /* 15% from the top and centered */
                padding: 20px;
                border: 1px solid #888;
                width: 300px; /* Could be more or less, depending on screen size */
                .header-modal{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .tutup-2 {
                        font-weight: bold;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        cursor: pointer;
                        svg{
                            &:hover{
                                path{
                                    color: black;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    p{
                        font-weight: 600;
                    }
                }
                .text{
                    text-align: center;
                    border-radius: 8px;
                    padding: 4px 0;
                    margin: 8px 12px 40px;
                    border: none;
                    background: none;
                    svg{
                        width: 50px;
                        margin: 8px;
                    }
                    h3{
                        margin: 8px auto;
                    }
                    p{
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 920px){
    #head-ub{
        .wrapper{
            .nav{
                width: 100%;
                background-color: $third;
                ul{
                    li{
                        padding: 8px 31px;
                    }
                }
            }
        }
    }
    #input-ub{
        .wrapper{
            border: 2px solid $primary;
            padding: 20px;
            height: 600px;
            .alert-konfirmasi{
                svg{
                    height: 24px;
                    width: 24px;
                }
            }
            form{
                margin-top: 40px;
                fieldset{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .file{
                        width: 280px;
                        margin-bottom: 30px;
                        label{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}