@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
.logo a {
  color: #181C27;
  text-decoration: none;
  font-size: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  font-weight: 600;
}

.logo a img {
  width: 40px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 70%;
  height: 100vh;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 5em 0 0 0;
}

nav ul li .arrow-down {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 20px;
  color: #181C27;
}

nav ul li ul {
  margin: 0 0 0 1em;
  display: none;
}

nav ul .btn-b {
  margin: 1em 0 0 2em;
  width: 100px;
  text-align: center;
  padding: 8px 26px;
  color: white;
  background-color: #57B98A;
  border: none;
  border-radius: 32px;
  font-size: .9rem;
  text-decoration: none;
}

nav ul .btn-b:hover {
  background-color: #69d19f;
  color: #ECFFF9;
  cursor: pointer;
}

nav ul a {
  padding: .6em 2em;
  display: block;
  color: black;
  text-decoration: none;
  font-size: .85rem;
}

nav ul a:hover {
  background-color: #e7e7e7;
}

nav .close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

nav .open-item {
  display: block;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header svg {
  width: 3em;
  margin-top: .6em;
  cursor: pointer;
}

.wrapper {
  margin: 1em 1.2em;
}

.btn-a {
  padding: 8px 26px;
  color: white;
  background-color: #57B98A;
  border: none;
  border-radius: 32px;
  font-size: .9rem;
  text-decoration: none;
}

.btn-a:hover {
  background-color: #69d19f;
  color: #ECFFF9;
  cursor: pointer;
}

.background {
  width: 100%;
  height: 627px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #ECFFF9;
  z-index: -1;
}

.headings {
  margin-top: 40px;
}

.headings .label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.headings h2 {
  font-size: 1.3em;
}

.headings .sub-head {
  color: #57B98A;
}

#hero-section p {
  font-size: 14px;
  color: #181C27;
  margin: 16px 0;
  font-weight: 500;
}

#hero-section .btn-a {
  font-size: 13px;
  margin-right: 8px;
}

#hero-section .campus-profil {
  font-size: 14px;
  color: #181C27;
  font-weight: 500;
}

#hero-section .icon {
  margin-top: 20px;
}

#hero-section img {
  margin-top: 20px;
  width: 100%;
}

.box {
  background-color: #ECFFF9;
  border: 2px solid #57B98A;
  margin-top: 20px;
}

.box h3 {
  font-size: 16px;
  margin: 12px 20px;
}

.box .rectangle {
  width: 40px;
  height: 2px;
  background-color: #57B98A;
  margin: -10px 0 0 20px;
  border-radius: 2px;
}

.box .item {
  margin: 20px 0;
}

.box .item p {
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 6px;
}

.box .item p span {
  margin-right: 12px;
  color: #57B98A;
}

.box .item p .diff {
  color: #ECFFF9;
}

.box .item .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .item .flex p:nth-child(2) {
  width: 50px;
}

.box-third p:nth-child(even) {
  margin-left: 34px;
}

#alur-pendaftaran {
  background-color: #ECFFF9;
  height: 60vh;
}

#alur-pendaftaran .wrapper .headings {
  padding-top: 40px;
}

iframe {
  margin: 20px 0 40px 0;
}

#whatsapp {
  background-color: #57B98A;
  padding: 20px 0;
}

#whatsapp .wrapper .text-wa {
  color: #ECFFF9;
  font-weight: 500;
}

#whatsapp .wrapper .btn-white {
  padding: 8px 26px;
  color: white;
  background-color: #57B98A;
  border: none;
  border-radius: 32px;
  font-size: .9rem;
  text-decoration: none;
  background-color: #ECFFF9;
  margin-top: 20px;
}

#whatsapp .wrapper .btn-white a {
  color: #57B98A;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }
  nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    width: auto;
    height: auto;
    display: block;
    background: none;
  }
  nav .close {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  nav ul a {
    padding: .5em 1.5em;
    font-size: .9rem;
    text-decoration: none;
  }
  nav ul a:hover {
    background: none;
  }
}

.open-nav {
  -webkit-transform: translate(0);
          transform: translate(0);
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1020px;
    margin: 0 auto;
  }
}

footer {
  background-color: #181C27;
  color: #ECFFF9;
  padding: 40px 0;
}

footer .wrapper .wa a {
  color: #ECFFF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  margin-top: 4px;
  text-decoration: none;
}

footer .wrapper .col-one img {
  width: 80px;
}

footer .wrapper .col-one .footer-head {
  margin-bottom: 20px;
}

footer .wrapper .col-one .footer-head h3 {
  color: #ECFFF9;
  margin-top: 4px;
  text-transform: uppercase;
}

footer .wrapper .col-one .footer-desc {
  margin-bottom: 20px;
}

footer .wrapper .col-one .footer-desc p {
  color: #ECFFF9;
  margin-top: 4px;
}

footer .wrapper .col-two {
  margin-top: 60px;
}

footer .wrapper .col-two h3 {
  color: #ECFFF9;
}

footer .wrapper .col-two .rectangle {
  width: 26px;
  height: 2px;
  background-color: #57B98A;
  border-radius: 2px;
  margin-top: 2px;
}

footer .wrapper .col-two ul {
  margin-top: 20px;
}

footer .wrapper .col-two ul li {
  margin-top: 6px;
}

footer .wrapper .col-two ul li a {
  text-decoration: none;
  color: #ECFFF9;
}

footer .wrapper .icon {
  margin-top: 20px;
}

footer .wrapper .copyright {
  margin-top: 40px;
}

footer .wrapper .copyright hr {
  margin-bottom: 20px;
}

footer .wrapper .copyright p {
  color: #ECFFF9;
  text-align: end;
  font-size: 12px;
}

#white-footer {
  background-color: white;
}

#white-footer .wrapper .copyright p {
  color: #181C27;
  font-weight: 600;
}

.bg-tif {
  background-image: url(../img/bg-tif.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  height: 387px;
  width: 99%;
}

.t-white p {
  color: #ECFFF9;
}

.bg-transparent {
  position: absolute;
  width: 100%;
  height: 387.75px;
  left: -1.88px;
  top: 0px;
  z-index: -1;
  background: rgba(24, 28, 39, 0.8);
}

.heading-prodi {
  width: 100%;
  height: 334px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-prodi h2 {
  font-size: 22px;
  color: #ECFFF9;
  font-weight: 600;
  margin-top: 6px;
}

#visi-misi .wrapper .visi {
  margin-top: 60px;
}

#visi-misi .wrapper .visi h3 {
  font-size: 26px;
}

#visi-misi .wrapper .visi p {
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  margin-top: 20px;
}

#visi-misi .wrapper .misi, #visi-misi .wrapper .tujuan {
  margin-top: 60px;
}

#visi-misi .wrapper .misi h3, #visi-misi .wrapper .tujuan h3 {
  font-size: 26px;
}

#visi-misi .wrapper .misi ol li, #visi-misi .wrapper .tujuan ol li {
  margin-top: 20px;
  margin-left: 20px;
  text-align: justify;
  font-size: 14px;
  font-weight: 500;
}

#profil-lulusan {
  margin-top: 40px;
  background-color: #ECFFF9;
  padding: 10px 0 20px 0;
}

#profil-lulusan .wrapper .analis-olah-data, #profil-lulusan .wrapper .pengembangan-bisnis {
  margin-top: 40px;
}

#profil-lulusan .wrapper .analis-olah-data h4, #profil-lulusan .wrapper .analis-olah-data p, #profil-lulusan .wrapper .analis-olah-data img, #profil-lulusan .wrapper .pengembangan-bisnis h4, #profil-lulusan .wrapper .pengembangan-bisnis p, #profil-lulusan .wrapper .pengembangan-bisnis img {
  margin-bottom: 20px;
}

#profil-lulusan .wrapper .analis-olah-data img, #profil-lulusan .wrapper .pengembangan-bisnis img {
  width: 100%;
}

#profil-lulusan .wrapper .analis-olah-data h4, #profil-lulusan .wrapper .pengembangan-bisnis h4 {
  font-size: 20px;
  text-align: center;
}

#profil-lulusan .wrapper .analis-olah-data p, #profil-lulusan .wrapper .pengembangan-bisnis p {
  font-size: 14px;
  text-align: justify;
}

.bg-tin {
  background-image: url(../img/bg-tin.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  height: 387px;
  width: 99%;
}

.bg-tkom {
  background-image: url(../img/bg-tkom.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  height: 387px;
  width: 99%;
}

.bg-fisika {
  background-image: url(../img/bg-fisika.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  height: 387px;
  width: 99%;
}

#profil-lulusan .wrapper .analis-olah-data ul {
  margin-left: 20px;
}

#profil-lulusan .wrapper .analis-olah-data ul li {
  font-size: 14px;
  text-align: justify;
}

.bg-batik {
  background-image: url(../img/bg-batik.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  height: 387px;
  width: 99%;
}

.bg-akuntansi {
  background-image: url(../img/bg-akuntansi.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  height: 387px;
  width: 99%;
}

.bg-ap {
  background-image: url(../img/bg-ap.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  height: 387px;
  width: 99%;
}

.bg-contact {
  background-image: url(../img/bg-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  height: 387px;
  width: 99%;
}

#contact .wrapper {
  margin-top: 60px;
}

#contact .wrapper .icon-all {
  margin-top: 40px;
}

#contact .wrapper .icon-all .adress, #contact .wrapper .icon-all .email, #contact .wrapper .icon-all .telepon, #contact .wrapper .icon-all .whatsapp {
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  margin-top: 20px;
  margin-left: 20px;
}

#contact .wrapper {
  margin-top: 60px;
}

#contact .wrapper form {
  margin: 0 auto;
  width: 100%;
  height: 410px;
  background-color: white;
}

#contact .wrapper form fieldset {
  padding: 2rem 2.5rem;
  border: none;
  -webkit-box-shadow: 5px 1px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 1px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 300px;
  height: 480px;
  left: 20px;
  top: 809px;
  background-color: white;
}

#contact .wrapper form fieldset label {
  display: block;
  margin: 0.5rem 0;
  font-size: 14px;
  font-weight: 600;
}

#contact .wrapper form fieldset label input, #contact .wrapper form fieldset label textarea {
  border: none;
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  padding: 8px;
  border: 1px solid rgba(24, 28, 39, 0.4);
}

#contact .wrapper form fieldset button[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #57B98A;
  min-width: 300px;
  border: none;
  color: #ECFFF9;
}

.kotak {
  width: 100%;
  height: 100px;
  background-color: #57B98A;
}

#daftar .wrapper {
  margin-top: 220px;
}

#daftar .wrapper form {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background-color: white;
}

#daftar .wrapper form fieldset {
  padding: 2rem 2.5rem;
  border: none;
  -webkit-box-shadow: 5px 1px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 1px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 90%;
  height: 82%;
  top: 100px;
  background-color: white;
}

#daftar .wrapper form fieldset .logo-b {
  margin-bottom: 40px;
}

#daftar .wrapper form fieldset .logo-b img {
  width: 80px;
  display: block;
  margin: 2px auto;
}

#daftar .wrapper form fieldset .logo-b p {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

#daftar .wrapper form fieldset label {
  display: block;
  margin: 0.5rem 0;
  font-size: 14px;
  font-weight: 600;
}

#daftar .wrapper form fieldset label .field {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#daftar .wrapper form fieldset label .field svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3px;
  border: 1px solid rgba(24, 28, 39, 0.4);
  border-right: none;
}

#daftar .wrapper form fieldset label .field input, #daftar .wrapper form fieldset label .field textarea {
  border: none;
  width: 100%;
  min-height: 2em;
  padding: 12px 10px;
  border: 1px solid rgba(24, 28, 39, 0.4);
}

#daftar .wrapper form fieldset .btn-d {
  margin-top: 1.6em;
  width: 100%;
  background-color: #57B98A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
  text-decoration: none;
}

#daftar .wrapper form fieldset .btn-d p {
  font-size: 16px;
  font-weight: 400;
  color: #ECFFF9;
}

#daftar .wrapper form fieldset .btn-m {
  margin-top: .2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
  text-decoration: none;
  border: 1px solid #181C27;
}

#daftar .wrapper form fieldset .btn-m p {
  font-size: 16px;
  font-weight: 400;
  color: #181C27;
}

#daftar .wrapper form fieldset .btn-m p:nth-child(2) {
  font-weight: 500;
  color: #57B98A;
  text-decoration: underline;
}

#masuk .wrapper {
  margin-top: 20px;
}

#masuk .wrapper form {
  margin: 0 auto;
  width: 100%;
  height: 380px;
  background-color: white;
}

#masuk .wrapper form fieldset {
  padding: 2rem 2.5rem;
  border: none;
  -webkit-box-shadow: 5px 1px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 1px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 90%;
  height: 48%;
  top: 100px;
  background-color: white;
}

#masuk .wrapper form fieldset .logo-b {
  margin-bottom: 40px;
}

#masuk .wrapper form fieldset .logo-b img {
  width: 80px;
  display: block;
  margin: 2px auto;
}

#masuk .wrapper form fieldset .logo-b p {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

#masuk .wrapper form fieldset label {
  display: block;
  margin: 0.5rem 0;
  font-size: 14px;
  font-weight: 600;
}

#masuk .wrapper form fieldset label .field {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#masuk .wrapper form fieldset label .field svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3px;
  border: 1px solid rgba(24, 28, 39, 0.4);
}

#masuk .wrapper form fieldset label .field input, #masuk .wrapper form fieldset label .field textarea {
  border: none;
  width: 100%;
  min-height: 2em;
  padding: 12px 10px;
  border: 1px solid rgba(24, 28, 39, 0.4);
  border-left: none;
  border-right: none;
}

#masuk .wrapper form fieldset .btn-d {
  margin-top: 1.6em;
  width: 100%;
  background-color: #57B98A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
  text-decoration: none;
}

#masuk .wrapper form fieldset .btn-d p {
  font-size: 16px;
  font-weight: 400;
  color: #ECFFF9;
}

#masuk .wrapper form fieldset .btn-m {
  margin-top: .2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
  text-decoration: none;
  border: 1px solid #181C27;
}

#masuk .wrapper form fieldset .btn-m p {
  font-size: 16px;
  font-weight: 400;
  color: #181C27;
}

#masuk .wrapper form fieldset .btn-m p:nth-child(2) {
  font-weight: 500;
  color: #57B98A;
  text-decoration: underline;
}

#profil .wrapper .profil-box {
  border: 1.8px solid #57B98A;
  margin-top: 40px;
}

#profil .wrapper .profil-box .logo-b {
  margin-bottom: 40px;
}

#profil .wrapper .profil-box .logo-b img {
  width: 80px;
  display: block;
  margin: 2px auto;
}

#profil .wrapper .profil-box .logo-b p {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

#profil .wrapper .profil-box .profil-pict img {
  width: 160px;
  display: block;
  margin: 0 auto;
}

#profil .wrapper .profil-box .profil-pict .btn-keluar {
  margin: 0.8em auto;
  width: 42%;
  background-color: #57B98A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0;
  text-decoration: none;
  border-radius: 20px;
}

#profil .wrapper .profil-box .profil-pict .btn-keluar p {
  font-size: 16px;
  font-weight: 400;
  color: #ECFFF9;
}

#profil .wrapper .profil-box .text {
  padding: 10px 24px;
}

#profil .wrapper .profil-box .text .identity {
  margin-bottom: 20px;
}

#profil .wrapper .profil-box .text .identity .name, #profil .wrapper .profil-box .text .identity .kode-akses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

#profil .wrapper .profil-box .text .identity .name p, #profil .wrapper .profil-box .text .identity .kode-akses p {
  font-size: 16px;
}

#profil .wrapper .profil-box .text .identity .name p:nth-child(2), #profil .wrapper .profil-box .text .identity .kode-akses p:nth-child(2) {
  font-weight: 600;
}

#profil .wrapper .profil-box .text .identity .name p:nth-child(2) {
  text-transform: uppercase;
}

#profil .wrapper .profil-box .text .note {
  margin: 20px 0;
}

#profil .wrapper .profil-box .text .note p {
  font-size: 16px;
  text-align: justify;
}

#profil .wrapper .profil-box .text .note p:nth-child(1) {
  font-weight: 600;
  margin-bottom: 8px;
}

#menu .wrapper .heading-menu {
  margin: 60px 40px;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
}

#menu .wrapper .heading-menu hr {
  margin-top: 20px;
}

#menu .wrapper .box-menu {
  margin: 40px;
  border: 1.8px solid #57B98A;
  border-radius: 0 20px 0 20px;
}

#menu .wrapper .box-menu img {
  width: 100%;
}

#menu .wrapper .box-menu .text {
  margin: 14px 20px;
}

#menu .wrapper .box-menu .text .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu .wrapper .box-menu h4 {
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

#menu .wrapper .box-menu p, #menu .wrapper .box-menu a {
  font-size: 16px;
}

#menu .wrapper .box-menu p {
  font-weight: 600;
  margin: 10px 0;
}

#menu .wrapper .box-menu a {
  padding: 10px 20px;
  background-color: #57B98A;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  color: #ECFFF9;
  display: block;
  margin: 20px auto;
  width: 86%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #181C27;
}

body {
  padding-bottom: 80px;
}

.rectangle {
  width: 26px;
  height: 2px;
  background-color: #57B98A;
  border-radius: 2px;
  margin-top: 2px;
}
/*# sourceMappingURL=main.css.map */