@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import 'variable', 'mixin', 'header', 'home', 'footer', 'tif';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: $text;
}

body{
    padding-bottom: 800px;
}

.rectangle{
    width: 26px;
    height: 2px;
    background-color: $primary;
    border-radius: 2px;
    margin-top: 2px;
}

