@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import 'variable', 'mixin', 'header', 'beranda', 'footer', 'tif', 'tin', 'tkom', 'fisika', 'kriya-batik','akuntansi', 'ap', 'contact', 'daftar', 'masuk', 'user-dashboard', 'biodata', 'keluarga', 'pilihan-prodi', 'unggah-berkas', 'edit-biodata', 'edit-keluarga', 'edit-pilihanprodi', 'gallery', 'detail-pembayaran';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: $text;
}


.rectangle{
    width: 26px;
    height: 2px;
    background-color: $primary;
    border-radius: 2px;
    margin-top: 2px;
}

